# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
.DS_Store
trees/rooted_N/all_seqs_with_dates.trees
sequence_data/trees/all_seqs_with_dates.trees
sequence_data/trees/._all_seqs_noout.nwk
sequence_data/trees/._all_seqs.fasta.treefile
sequence_data/trees/._all_seqs.fasta.log
sequence_data/trees/._all_seqs.fasta
sequence_data/trees/._.DS_Store
sequence_data/._trees
sequence_data/._Tadarida brasiliensis_Bats_TB1_N_nucleotide_alignment.fasta
sequence_data/._Skunk_RAC-SK_N_nucleotide_alignment.fasta
sequence_data/._Skunk-SK_N_nucleotide_alignment.fasta
sequence_data/._Raccoon_RAC-SK_N_nucleotide_alignment.fasta
sequence_data/._parainfluenza.fasta
sequence_data/._Mongoose_AM2a_N_nucleotide_alignment.fasta
sequence_data/._metadata.csv
sequence_data/._Lasionycteris_noctivagans_Bats_LN_N_nucleotide_alignment.fasta
sequence_data/._Hoary_bat_Bats_LC_N_nucleotide_alignment.fasta
sequence_data/._gannoruwa.fasta
sequence_data/._extra_AL_Arctic_A_N_nucleotide_alignment.fasta
sequence_data/._Eptesicus fuscus_Bats_EF-E2_N_nucleotide_alignment.fasta
sequence_data/._EBLV1.fasta
sequence_data/._.DS_Store
sequence_data/._AL_Arctic_A_N_nucleotide_alignment.fasta
sequence_data/._all_seqs.fasta
sequence_data/._Canis_familiaris_SEA2a_N_nucleotide_alignment.fasta
sequence_data/._CDV.fasta
sequence_data/._CFB_SEA2b_N_nucleotide_alignment.fasta
sequence_data/._Desmodus_rotundus_Bats_DR_N_nucleotide_alignment.fasta
sequence_data/._Dog_AF1b_N_nucleotide_alignment.fasta
plots/._Picture 1_labelled.png
plots/._PCA loadings.png
plots/._Figure1.pptx
plots/._Figure 9.png
plots/._Figure 1.png
plots/._Fig9_not_annotated.png
plots/._Fig9_coloured_by_clade.png
output_data/._Nucleotide_composition_N.xlsx
output_data/._RSCU_N.xlsx
output_data/._HIVE-CUTS_CAI.csv
output_data/._Codon_usage_N.xlsx
output_data/._myseqs_SDUc.tsv
output_data/._myseqs_RSDUc.tsv
._.DS_Store
._.git
._.Rhistory
._.gitignore
._plots
._code
code/._ancestral_state.R
code/._CpG.R
code/._CAI.R
code/._ENC.R
code/._phylogeny.R
code/._RSCU.R
code/._phyloEM_rabies.R
code/._PCA.R
code/._SDUc.ipynb
code/._ENC-GC3_Neutrality_plot.R
